<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>EduMental</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css family=Alata">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sign-up">Sign
                        Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log-in">Log
                        In</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        How To Get help
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/gethelp">Get
                                Help</a></li>
                        <li><a class="dropdown-item" href="/talk">Talk With A Professional</a></li>
                        <li><a class="dropdown-item" href="/chatroom">Chat Room</a></li>
                         <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/info">About Us</a>
                    </ul>
                    
                </li>
                <li class= "nav-item dropdown"> <a class="nav-link active" aria-current="page" href="/info">About Us</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<body style="background-color: white">

    <body>
        <div id="MainText">
            <h1>EduMental</h1>
            <p id="SubText">"For Students By Students"</p>

            <img src="https://970-4770e44f-1df9-41fc-a010-c0c248f1e670.cs-us-east1-pkhd.cloudshell.dev/mini-browser/home/mattvarela06/Day%20Eight/Mental%20Health%20Website/static/images/Logo.png"
                alt="Logo" height="100" width="100" id="Logo" />

        </div>
        <div id="BasicInfo">
            <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
            <p>Many people today tend to ignore the present mental health issues among
                students in New York City. In 2019, when the COVID-19 pandemic started,
                depression among teens from the ages of 15-19 spiked by an overwhelming
                35.9%. Over the past year with online school and Zoom classes, one can
                only imagine how much this percentage has increased. Our mission is to 
                create a way for students to easily be able to share their mental health 
                experiences.</p>
        </div>

      
        <div class="pic" id="Picture">
             <img src="https://media.istockphoto.com/photos/hand-shows-the-brain-picture-id1031563502?k=6&m=1031563502&s=612x612&w=0&h=eUM5Fn1c3q9hx_Z_kgzqqctLsAydWf1Oaa0n63wd7Gw="
                    alt="mental health photos" id= "Picture" hieght="600px"width= "600px"/>
                </div>

            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    </body>

</html>