<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mental Health</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css family=Alata">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/sign-up">Sign
                        Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/log-in">Log
                        In</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        How To Get help
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/gethelp">Get
                                Help</a></li>
                        <li><a class="dropdown-item" href="/talk">Talk With A Professional</a></li>
                        <li><a class="dropdown-item" href="/chatroom">Chat Room</a></li>
                         <li class="nav-item">

                    </ul>
                    
                </li>
                <li class= "nav-item dropdown"> <a class="nav-link active" aria-current="page" href="/info">About Us</a></li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<body style="background-color: white">

    <body>
        <div id="MainText">
            <h1>Information Page</h1>
            <p id="SubText">"For Students By Students"</p>
            <img src="static/images/Logo.png"
                alt="Logo" height="100" width="100" id="Logo" />
        </div>
        <div id="BasicInfo">
            <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
            <h2>The Problem</h2>
            <p id="Text1">
                Depression in teens
                has also been proven to be a crucial factor in a student's academic
                performance and concentration. Additionally, in New York, six out of
                every 100,000 15-19 year olds die due to self harm. Even though this is 
                not as many teens dying as there are in the US as a whole, every life 
                matters. A few causes of the recent increase in these numbers are lack 
                of knowledge on teen mental health and difficulty to access professional 
                help. Around 45% of all people in the US consider themselves to know about 
                mental health, this means there are plenty of others who still have more 
                to learn. There are available resources to inform oneself on mental health 
                issues as well as resources in school for students. However, these resources 
                may not be able to help as much as listening to a professional or someone 
                else's firsthand experience would be able to.
            </p>
            <h2>Our Solution</h2>
            <p id="Text">
                We noticed this unfilled niche and decided to make a website to fill it. Our
                website has many features that are not present in other mental health websites,
                such as a chat room that allows students to speak with other students having the
                same issues. In addition, we will soon have a way for students to contact a
                professional, making it easier to contact someone who is knowledgeable about thier
                specific problem.
            </p>
            <h2>Who Are We?</h2>
            <p id=SubText>Contact all of us at EduMental1@gmail.com.</p>
            <div class="card-group" id="Cards"> 
                <div class="card">
                    <img src="/static/images/emilyphoto.jpg"
                        class="card-img-top" alt="EmilyS" id="EmilyPicture">
                    <div class="card-body">
                        <p id="FounderText">Hello! My name is Emily Singh and my motivation behind helping to start this company is how the pandemic has impacted the mental health of both my friends and myself. Contact me at s.emily00656@gmail.com.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/kevin.jpg"
                        class="card-img-top" alt="KevinG" id="KevinPicture">
                    <div class="card-body">
                        <p id="FounderText">Hello! My name is Kevin Gonzalez-Bravo and I currently go to Fieldston. The reason I am invested in this website is because I am part of its target audience and would like to make something that I myself would use. Contact me at 24kgonzalez-bravo@ecfs.org </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/matthew.jpg"
                        class="card-img-top" alt="MatthewV" id="MatthewPicture">
                    <div class="card-body">
                        <p id="FounderText">Hello! My name is Matthew Varela and I am one of the coders who made this website. The reason I am invested in this start-up is because I want students who go through to hard times to know that they are not alone and have other people to talk to. Contact me at mattvarela06@gmail.com</p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/images/archismanphoto.jpeg"
                        class="card-img-top" alt="ArchishmanN" id="ArchishmanPicture">
                    <div class="card-body">
                        <p id="FounderText">Hi, I'm Archishman, one of the coders who made this website.
                            I wanted to help make this because I thought a chatroom for teens with 
                            mental health issues would be a solution to many problems that I face. 
                            Contact me at archishmant@gmail.com.
                        </p>
                    </div>
                </div>
            </div>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>